/* =============== nav ================== */
nav {
  // background-color: red;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  color: black;
  position: relative;

  .main__menu {
    display: flex;
    list-style: none;

    li a {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      font-size: 1.2rem;
    }

    li a:hover {
      background: #ea7600;
    }
  }
}

nav .open__menu {
  background-color: #ea7600;
  width: 42.5px;
  height: 42.5px;
  border: 4px black solid;
  font-size: 2rem;
  margin: 20px 30px;
  cursor: pointer;
  display: none;
}

nav .open__menu__shadow {
  background-color: white;
  width: 42.5px;
  height: 42.5px;
  border: 4px black solid;
  margin: 20px 30px;
  position: absolute;
  z-index: -1;
  transform: translate(5px, 5px);
}

nav .main__menu .close__menu,
.icons i {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

.fab:hover {
  color: black;
}

@media (max-width: 800px) {
  nav .main__menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: orange;
    transition: top 1s ease;
    display: none;
  }

  nav .main__menu .close__menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .open__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav .main__menu li a:hover {
    background: none;
    color: black;
    font-size: 1.6rem;
  }

  .icons i {
    display: inline-block;
    padding: 12px;
  }
}
