// import scss files
@import "./variables", "./resets", "./responsive", "./nav", "./header";

/* ==================== GOOGLE FONTS ==================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

/* ==================== GOOGLE FONTS END ==================== */

body {
  background-color: #f2e2d0;
  font-family: "Montserrat", sans-serif;
  color: $title-color;
}

/* =============== top__square ================== */
.top__square {
  background-color: white;
  height: 35px;
  width: 100%;
  border-bottom: 4px solid black;
}

/* =============== main__container ================== */
.main__container {
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.tools_container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.tool {
  margin: auto;
  text-align: center;
  text-justify: center;
}

.tool__img {
  background-color: white;
  height: 90px;
  border-radius: 3px;
  border-top: 5px solid #ea7600;
  border-bottom: 5px solid #ea7600;
  border-left: 3px solid #ea7600;
  border-right: 3px solid #ea7600;

  i {
    color: black;
  }
}

.tool__text {
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
  color: black;
}

.tool a {
  text-decoration: none;
}

.tool__img .uil-dice-five {
  font-size: 60px;
}
