// import scss files
@import "./responsive", "./variables", "./resets", "./nav", "./header";

/* ==================== GOOGLE FONTS ==================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

/* ==================== GOOGLE FONTS END ==================== */

body {
  background-color: #f2e2d0;
  font-family: "Montserrat", sans-serif;
  color: $title-color;
}

/* =============== top__square (white square on the page top) ================== */
.top__square {
  background-color: white;
  height: 35px;
  width: 100%;
  border-bottom: 4px solid black;
}

/* =============== HOME main__container ================== */
.main__container {
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.tools_container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.tool {
  margin: auto;
  text-align: center;
  text-justify: center;
  height: 130px;
  width: 185px;
}

.tool__img {
  //make icon center
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  height: 75%;
  width: 100%;

  border-radius: 3px;
  border-top: 5px solid #ea7600;
  border-bottom: 5px solid #ea7600;
  border-left: 3px solid #ea7600;
  border-right: 3px solid #ea7600;
  i {
    color: black;
    font-size: 60px;
  }
}

.tool__text {
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
  color: black;
}

.tool a {
  text-decoration: none;
}

/* ==================== Media Responsive ==================== */

@media screen and (min-width: 540px) {
  .tools_container {
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .tool {
    margin: auto;
    text-align: center;
    text-justify: center;
    height: 140px;
  }
  .tool__img {
    height: 75%;
  }
}

// for pc
@media only screen and (min-width: 1200px) {
  .tools_container {
    // gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .tool {
    margin: auto;
    text-align: center;
    text-justify: center;
    width: 300px;
    height: 200px;
  }
  .tool__img {
    font-size: 3em;
    height: 75%;

    i {
      font-size: 1.8em;
    }
  }

  .tool__text {
    margin-top: 15px;
    font-size: 1.2em;
  }

  .header___text {
    font-size: 1.6em;

    margin: auto 70px;
  }
}
